:root {
  --empty-size: 1.5em;
  --divider-pad: 0.1em;
  --active-color: pink;
}

#proofer {
  display: flex;
}

#display {
  flex: 1 1 500px;
  min-width: 250px;
  min-height: 250px;
}

#controls {
  flex: 0 0 300px;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.7em;
}

proof-inference {
  display: inline-block;
  padding: 0.2em;
  padding-right: 0;
}

proof-inference.active {
  background-color: var(--active-color);
  outline: 1px dashed red;
  border-radius: 0.3em;

}

.rule-button {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 0.3em;
  margin: 0.3em;
  user-select: none;
  cursor: pointer;
}

.rule-button.active {
  background-color: pink;
}

.node {
  margin: 0.2em;
  min-height: var(--empty-size);
  display: flex;
  align-items: center;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.node.inference {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}

.node.inference {
  margin-left: 0.8em;
  margin-right: 2.7em;
}

.inference > .mid {
  height: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.inference > .mid > .label {
  position: absolute;
  top: 0;
  right: -0.2em;
  transform: translate(100%, -50%);
  font-style: italic;
}

.inference > .inputs {
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding: 0.2em;
  padding-bottom: var(--divider-pad);
  padding-top: 0;
}

.node > .inputs > .node {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.node > .output {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--divider-pad);
  position: relative;
}

.node.empty, .node > .output > .empty, .node > .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--empty-size);
  min-height: var(--empty-size);
  border: 1px dashed green;
  padding: 0.2em;
  color: rgba(100,10,200,0.5);
  cursor: pointer;
}

.node > .output > .empty {
  font-size: 0.8em;
  margin: 0.2em;
}

.node.assumption {
}

.node.assumption:before {
  content: '[';
  padding-right: 0.2em;
}

.node.assumption:after {
  content: ']';
  padding-left: 0.2em;
}

slot.hidden {
  display: none;
}